@inherits RocketSystemProjectTemplate.Components.RocketSystemProjectTemplateTokens<Simplisity.SimplisityRazor>
@using RocketSystemProjectTemplate.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@{
    var portalContent = (PortalContentLimpet)Model.List.First();
    var info = portalContent.Info;
    var systemData = new SystemLimpet("rocketsystemprojecttemplate");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/" + systemData.SystemKey + "/App_LocalResources/")

<div id="generaldata" class="w3-container">

    <div class="w3-row">
        <div class="w3-half">
            <div class="w3-half">
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("RC.maxarticles")</label>
                    @TextBox(info, "genxml/maxarticles", "class='w3-input w3-border' style='width:120px;' ", "100", false)
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("DNNrocket.active")</label>
                    @CheckBox(info, "genxml/active", "", "class='w3-input w3-border w3-check'", true)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">@ResourceKey("DNNrocket.emailon")</label>
                    @CheckBox(info, "genxml/emailon", "", "class='w3-input w3-border w3-check'", true)
                </div>
                <div class="w3-row w3-padding">
                    <label class="">Debug Mode</label>
                    @CheckBox(info, "genxml/debugmode", "", "class='w3-input w3-border w3-check'", false)
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        rpadmin.moveToTop('#systemmodal');
    });

    function docopyclipboard(element) {
        rpadmin.CopyTextToClipboard(element);
    }


</script>
